@import url("https://fonts.googleapis.com/css?family=Roboto");
/* import mixins */
/* border radius minxins */
/* box-sizing mixin */
/* transition mixin */
/* box-shadow mixin */
/* import color */
/* colors */
/* style default placeholder styles */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9aa0a5; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9aa0a5; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9aa0a5; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #9aa0a5; }

.no-padding-right, body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12, body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(3), body .dashboard .main-content #bar-charts .col-md-6:last-child {
  padding-right: 0; }

.no-padding-left, body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12, body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-4, body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-4 .col-sm-6, body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(1), body .dashboard .main-content #bar-charts .col-md-6:first-child {
  padding-left: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #696464; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECF3FD; }
  body .dashboard {
    width: 95%;
    margin: 50px auto; }
    body .dashboard .navbar {
      height: 70px;
      background-color: #fff;
      border: 0;
      margin-bottom: 0;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: 0 0px 24px rgba(222, 222, 222, 0.68);
      -moz-box-shadow: 0 0px 24px rgba(222, 222, 222, 0.68);
      box-shadow: 0 0px 24px rgba(222, 222, 222, 0.68); }
      body .dashboard .navbar .navbar-collapse {
        float: left; }
      body .dashboard .navbar .navbar-brand {
        margin-left: 0; }
      body .dashboard .navbar .navbar-nav li a {
        height: 70px;
        line-height: 70px;
        color: #9aa0a5;
        padding: 0px 25px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        body .dashboard .navbar .navbar-nav li a:hover {
          background-color: #f2f5f9; }
        body .dashboard .navbar .navbar-nav li a .avatar-icon {
          display: inline-block;
          height: 100%; }
          body .dashboard .navbar .navbar-nav li a .avatar-icon img {
            height: 100%;
            padding: 15px;
            -webkit-border-radius: 30%;
            -moz-border-radius: 30%;
            -ms-border-radius: 30%;
            border-radius: 30%; }
        body .dashboard .navbar .navbar-nav li a .ti-bell {
          font-size: 18px;
          position: relative;
          line-height: 70px; }
          body .dashboard .navbar .navbar-nav li a .ti-bell:after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            top: 3px;
            right: 0;
            background-color: red;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
        body .dashboard .navbar .navbar-nav li a span {
          margin-right: 3px; }
      body .dashboard .navbar .navbar-nav li.active {
        background-color: #f2f5f9; }
        body .dashboard .navbar .navbar-nav li.active a {
          color: #696464; }
      body .dashboard .navbar .navbar-right .navbar-form {
        position: relative;
        margin: 0;
        line-height: 70px; }
        body .dashboard .navbar .navbar-right .navbar-form .form-control {
          border: 0;
          height: 35px;
          padding: 0 0 0 20px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: 0 0px 0px rgba(88, 85, 85, 0);
          -moz-box-shadow: 0 0px 0px rgba(88, 85, 85, 0);
          box-shadow: 0 0px 0px rgba(88, 85, 85, 0); }
        body .dashboard .navbar .navbar-right .navbar-form .btn {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin-bottom: auto;
          margin-top: auto;
          background-color: #fff;
          border: 0;
          box-shadow: none;
          height: 35px;
          padding: 0;
          width: 30px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0; }
        body .dashboard .navbar .navbar-right .navbar-form .ti-search {
          color: #9aa0a5;
          margin-top: 6px;
          display: inline-block; }
      body .dashboard .navbar .navbar-right li a:hover, body .dashboard .navbar .navbar-right li a:active, body .dashboard .navbar .navbar-right li a:focus {
        background-color: transparent; }
      body .dashboard .navbar .navbar-right li:nth-child(2) a {
        padding-left: 0; }
      body .dashboard .navbar .navbar-right .dropdown-menu {
        border: 0;
        background-color: #ECF3FD;
        margin-right: 15px; }
        body .dashboard .navbar .navbar-right .dropdown-menu li a {
          height: 40px;
          line-height: 40px; }
        body .dashboard .navbar .navbar-right .dropdown-menu:before {
          content: "";
          right: 6px;
          top: -9px;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #ECF3FD; }
    body .dashboard .main-content {
      background-color: #f5f9ff;
      padding: 25px 50px;
      float: left;
      width: 100%;
      -webkit-box-shadow: -3px 13px 16px rgba(232, 232, 232, 0.98);
      -moz-box-shadow: -3px 13px 16px rgba(232, 232, 232, 0.98);
      box-shadow: -3px 13px 16px rgba(232, 232, 232, 0.98); }
      body .dashboard .main-content h2 {
        color: #696464;
        float: left;
        font-weight: normal; }
      body .dashboard .main-content .settings {
        float: left;
        width: 100%; }
        body .dashboard .main-content .settings .pull-right {
          margin-top: 20px; }
          body .dashboard .main-content .settings .pull-right a:hover {
            text-decoration: none; }
          body .dashboard .main-content .settings .pull-right a:last-child {
            color: #9aa0a5;
            float: right;
            padding-top: 5px; }
            body .dashboard .main-content .settings .pull-right a:last-child .ti-settings {
              font-size: 22px;
              margin-right: 5px;
              display: inline-block; }
              body .dashboard .main-content .settings .pull-right a:last-child .ti-settings .caret {
                margin: -5px 0 0 7px; }
          body .dashboard .main-content .settings .pull-right .activity {
            border: 2px solid #5f94fb;
            border-radius: 25px;
            padding: 5px 20px;
            font-weight: normal;
            font-size: 14px;
            box-shadow: none;
            color: #5f94fb;
            margin-right: 20px;
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in; }
            body .dashboard .main-content .settings .pull-right .activity:hover {
              background-color: #5f94fb;
              color: #fff; }
        body .dashboard .main-content .settings > span {
          display: inline-block;
          position: relative;
          width: 100%;
          color: #9aa0a5;
          margin: 15px 0 35px; }
          body .dashboard .main-content .settings > span:after {
            content: "";
            position: relative;
            top: 0;
            right: -15px;
            border-top: 2px solid #eaeaea;
            width: 88%;
            height: 3px;
            display: inline-block; }
      body .dashboard .main-content #periority-activity {
        background-color: #fff;
        float: left;
        width: 100%;
        -webkit-box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99);
        -moz-box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99);
        box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99); }
        body .dashboard .main-content #periority-activity .col-md-3 {
          border-right: 2px solid #eaeaea;
          padding: 25px 15px; }
          body .dashboard .main-content #periority-activity .col-md-3 .ti-more-alt {
            color: #5f94fb; }
          body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12 h5 {
            color: #696464;
            font-weight: bold; }
          body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12 small {
            display: block;
            color: #9aa0a5; }
          body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12.social-icons .icons {
            color: #fff;
            background-color: #98a0a6;
            padding: 6px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            margin: 0 2px 0 2px; }
          body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12.social-icons a {
            text-decoration: none; }
          body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12:first-of-type {
            margin-top: 35px; }
          body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12:last-child {
            margin-top: 75px; }
        body .dashboard .main-content #periority-activity .col-md-9 {
          padding: 0; }
          body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 {
            padding: 20px 25px;
            min-height: 180px; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 strong,
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 small {
              display: block;
              font-size: 14px; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 strong {
              color: #696464;
              margin-bottom: 10px; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 h4 {
              color: #696464;
              font-weight: bold;
              margin: 0 0 20px 0; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 small {
              color: #9aa0a5; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a {
              width: 42px;
              text-align: center;
              background-color: #eaeaea;
              display: inline-block;
              height: 42px;
              line-height: 42px;
              margin-right: 5px;
              float: left;
              -webkit-border-radius: 15%;
              -moz-border-radius: 15%;
              -ms-border-radius: 15%;
              border-radius: 15%; }
              body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a img {
                height: 100%;
                -webkit-border-radius: 15%;
                -moz-border-radius: 15%;
                -ms-border-radius: 15%;
                border-radius: 15%; }
              body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a .ti-plus {
                font-size: 20px;
                color: #9aa0a5;
                line-height: 42px; }
              body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a:hover {
                text-decoration: none; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .col-md-8 .alert {
              float: left;
              padding: 0px 0 0px 10px;
              margin: 0 12px 12px 0;
              min-width: 90px;
              height: 25px;
              line-height: 24px;
              font-size: 12px; }
              body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .col-md-8 .alert .close {
                top: 0px;
                right: 5px; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12:last-child {
              border-top: 2px solid #eaeaea;
              position: relative; }
              body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12:last-child p {
                line-height: 30px;
                color: #9aa0a5;
                width: 90%; }
                body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12:last-child p span {
                  color: #5f94fb; }
              body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12:last-child a {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 50px;
                height: 60px;
                line-height: 60px;
                background-color: #5f94fb;
                color: #fff;
                text-align: center;
                font-size: 18px; }
                body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12:last-child a:hover {
                  text-decoration: none; }
      body .dashboard .main-content #doughnut-charts {
        margin-top: 30px;
        float: left;
        width: 100%; }
        body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block {
          background-color: #fff;
          float: left;
          width: 100%;
          padding: 20px 15px;
          position: relative;
          -webkit-box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99);
          -moz-box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99);
          box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99); }
          body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 h3 {
            margin: 0;
            font-size: 32px;
            font-weight: normal; }
          body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 small {
            font-size: 14px;
            color: #9aa0a5; }
          body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block a {
            position: absolute;
            bottom: 20px;
            right: 30px;
            text-decoration: underline;
            color: #5f94fb; }
        body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(1) {
          padding-right: 20px; }
        body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(2) {
          padding: 0 12px; }
        body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(3) {
          padding-left: 20px; }
      body .dashboard .main-content #bar-charts {
        margin-top: 30px;
        float: left;
        width: 100%; }
        body .dashboard .main-content #bar-charts h4 {
          margin: 0 0 25px 0; }
        body .dashboard .main-content #bar-charts .chart-block {
          background-color: #fff;
          padding: 20px 15px;
          float: left;
          width: 100%;
          min-height: 350px;
          -webkit-box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99);
          -moz-box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99);
          box-shadow: 3px 3px 15px rgba(232, 232, 232, 0.99); }
          body .dashboard .main-content #bar-charts .chart-block .ti-more-alt {
            color: #5f94fb; }
          body .dashboard .main-content #bar-charts .chart-block .col-xs-4 p {
            margin-bottom: 20px; }
            body .dashboard .main-content #bar-charts .chart-block .col-xs-4 p span {
              display: inline-block;
              color: #9aa0a5; }
              body .dashboard .main-content #bar-charts .chart-block .col-xs-4 p span:first-child {
                font-weight: bold; }
              body .dashboard .main-content #bar-charts .chart-block .col-xs-4 p span:last-child {
                float: right; }
          body .dashboard .main-content #bar-charts .chart-block strong {
            display: block;
            margin: 20px 0 30px 0;
            text-align: center;
            color: #696464; }
          body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress {
            height: 7px;
            margin-bottom: 35px;
            -webkit-box-shadow: 0 0px 0px transparent;
            -moz-box-shadow: 0 0px 0px transparent;
            box-shadow: 0 0px 0px transparent;
            background: #eaeaea; }
            body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress .progress-bar {
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              -ms-border-radius: 7px;
              border-radius: 7px;
              -webkit-box-shadow: 0 0px 0px transparent;
              -moz-box-shadow: 0 0px 0px transparent;
              box-shadow: 0 0px 0px transparent; }
            body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress:nth-of-type(1) .progress-bar {
              background: white;
              background: -moz-linear-gradient(left, white 0%, white 11%, #8283de 52%, #8283de 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(11%, white), color-stop(52%, #8283de), color-stop(100%, #8283de));
              background: -webkit-linear-gradient(left, white 0%, white 11%, #8283de 52%, #8283de 100%);
              background: -o-linear-gradient(left, white 0%, white 11%, #8283de 52%, #8283de 100%);
              background: -ms-linear-gradient(left, white 0%, white 11%, #8283de 52%, #8283de 100%); }
            body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress:nth-of-type(2) .progress-bar {
              background: white;
              background: -moz-linear-gradient(left, white 0%, white 11%, #ee7b79 52%, #ee7b79 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(11%, white), color-stop(52%, #ee7b79), color-stop(100%, #ee7b79));
              background: -webkit-linear-gradient(left, white 0%, white 11%, #ee7b79 52%, #ee7b79 100%);
              background: -o-linear-gradient(left, white 0%, white 11%, #ee7b79 52%, #ee7b79 100%);
              background: -ms-linear-gradient(left, white 0%, white 11%, #ee7b79 52%, #ee7b79 100%); }
            body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress:nth-of-type(3) .progress-bar {
              background: white;
              background: -moz-linear-gradient(left, white 0%, white 11%, #fab444 52%, #fab344 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(11%, white), color-stop(52%, #fab444), color-stop(100%, #fab344));
              background: -webkit-linear-gradient(left, white 0%, white 11%, #fab444 52%, #fab344 100%);
              background: -o-linear-gradient(left, white 0%, white 11%, #fab444 52%, #fab344 100%);
              background: -ms-linear-gradient(left, white 0%, white 11%, #fab444 52%, #fab344 100%); }
            body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress:nth-of-type(4) .progress-bar {
              background: white;
              background: -moz-linear-gradient(left, white 0%, white 11%, #6b95f8 52%, #6b95f8 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(11%, white), color-stop(52%, #6b95f8), color-stop(100%, #6b95f8));
              background: -webkit-linear-gradient(left, white 0%, white 11%, #6b95f8 52%, #6b95f8 100%);
              background: -o-linear-gradient(left, white 0%, white 11%, #6b95f8 52%, #6b95f8 100%);
              background: -ms-linear-gradient(left, white 0%, white 11%, #6b95f8 52%, #6b95f8 100%); }
            body .dashboard .main-content #bar-charts .chart-block .progress-bars .progress:nth-of-type(5) .progress-bar {
              background: white;
              background: -moz-linear-gradient(left, white 0%, white 11%, #30daa1 52%, #30daa1 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(11%, white), color-stop(52%, #30daa1), color-stop(100%, #30daa1));
              background: -webkit-linear-gradient(left, white 0%, white 11%, #30daa1 52%, #30daa1 100%);
              background: -o-linear-gradient(left, white 0%, white 11%, #30daa1 52%, #30daa1 100%);
              background: -ms-linear-gradient(left, white 0%, white 11%, #30daa1 52%, #30daa1 100%); }
          body .dashboard .main-content #bar-charts .chart-block.work-statistic ul {
            padding: 0;
            margin-top: 85px;
            margin-left: 15px; }
            body .dashboard .main-content #bar-charts .chart-block.work-statistic ul li {
              color: #9aa0a5; }
              body .dashboard .main-content #bar-charts .chart-block.work-statistic ul li strong {
                display: inline-block;
                margin: 0; }

/* Responsive */
@media all and (max-width: 640px) {
  body .container-fluid {
    padding: 0; }
  body .row {
    margin: 0; }
  body .dashboard {
    width: 100%;
    margin: 0 auto; }
    body .dashboard .col-xs-12 {
      padding: 0; }
    body .dashboard .navbar-toggle {
      margin-top: 15px; }
    body .dashboard .navbar .navbar-header {
      margin: 0; }
    body .dashboard .navbar .navbar-nav {
      margin: 7.5px 0; }
    body .dashboard .navbar .navbar-collapse {
      background-color: #fff;
      width: 100%;
      margin: 0; }
    body .dashboard .navbar .navbar-right li {
      float: left; }
      body .dashboard .navbar .navbar-right li a {
        padding-left: 5px; }
      body .dashboard .navbar .navbar-right li:nth-child(2) {
        float: right; }
    body .dashboard .main-content {
      padding: 10px 15px; }
      body .dashboard .main-content h2 {
        margin-top: 55px;
        width: 100%; }
      body .dashboard .main-content .settings {
        position: relative; }
        body .dashboard .main-content .settings .pull-right {
          margin-top: 0;
          position: absolute;
          top: 5px;
          right: 0;
          width: 100%; }
          body .dashboard .main-content .settings .pull-right .activity {
            padding: 3px 20px;
            border: 1px solid #5f94fb; }
          body .dashboard .main-content .settings .pull-right a:last-child {
            padding-top: 0; }
        body .dashboard .main-content .settings > span {
          margin: 5px 0 20px; }
          body .dashboard .main-content .settings > span:after {
            right: 0;
            width: 100%; }
      body .dashboard .main-content #periority-activity .col-md-3 {
        padding: 0; }
        body .dashboard .main-content #periority-activity .col-md-3 .ti-more-alt {
          margin: 15px 15px 0 0; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12 h5 {
          font-size: 22px; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12 small {
          font-size: 18px; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12:first-of-type {
          margin-top: 0; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12:last-child {
          margin: 40px 0 10px 0; }
      body .dashboard .main-content #periority-activity .col-md-9 h4 {
        text-align: center;
        font-size: 22px;
        border-top: 1px solid #eaeaea;
        padding-top: 15px; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-md-4,
      body .dashboard .main-content #periority-activity .col-md-9 .col-md-8,
      body .dashboard .main-content #periority-activity .col-md-9 .col-sm-12,
      body .dashboard .main-content #periority-activity .col-md-9 .col-sm-8 {
        padding: 0; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-md-4 {
        float: left;
        width: 100%;
        margin-bottom: 15px; }
      body .dashboard .main-content #periority-activity .col-md-9 .members {
        float: left;
        padding: 0;
        width: 100%;
        margin-top: 15px; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 {
        padding: 20px 15px; }
        body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .col-md-8 .alert {
          min-width: 45%; }
      body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(1), body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(2), body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(3) {
        padding: 0; }
      body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block {
        padding: 20px 0;
        margin-bottom: 15px; }
        body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 h3 {
          font-size: 26px;
          margin-bottom: 7px; }
        body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block a {
          right: 15px; }
      body .dashboard .main-content #bar-charts .col-md-6 {
        padding: 0; }
        body .dashboard .main-content #bar-charts .col-md-6 .chart-block {
          margin-bottom: 25px; }
          body .dashboard .main-content #bar-charts .col-md-6 .chart-block .col-xs-4 {
            padding: 0; }
          body .dashboard .main-content #bar-charts .col-md-6 .chart-block .progress-bars {
            padding-right: 0; }
          body .dashboard .main-content #bar-charts .col-md-6 .chart-block.work-statistic ul {
            margin-top: 25px;
            margin-left: 30px; }
      body .dashboard .main-content #bar-charts h4 {
        margin-bottom: 15px;
        font-size: 22px;
        text-align: center; } }
@media all and (min-width: 650px) and (max-width: 800px) {
  body .row {
    margin: 0; }
  body .dashboard {
    width: 100%;
    margin: 5px auto; }
    body .dashboard .row > .col-xs-12 {
      padding: 0; }
    body .dashboard .navbar .navbar-collapse {
      float: right; }
      body .dashboard .navbar .navbar-collapse .navbar-nav li.active a {
        padding: 0px 15px; }
    body .dashboard .navbar .navbar-right {
      width: 100%;
      margin-right: 0; }
      body .dashboard .navbar .navbar-right li:first-child a {
        padding-left: 0; }
      body .dashboard .navbar .navbar-right li:last-child {
        float: right; }
    body .dashboard .main-content {
      padding: 25px 30px; }
      body .dashboard .main-content .settings > span:after {
        width: 100%;
        right: 0; }
      body .dashboard .main-content #periority-activity .col-md-3 {
        padding: 0; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12:first-of-type img {
          height: 200px; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12:last-child {
          margin-top: 20px; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12 h5 {
          font-size: 24px; }
        body .dashboard .main-content #periority-activity .col-md-3 .col-xs-12 small {
          font-size: 20px; }
        body .dashboard .main-content #periority-activity .col-md-3 .ti-more-alt {
          margin: 15px 15px 0 0;
          font-size: 20px; }
      body .dashboard .main-content #periority-activity .col-md-9 h4 {
        font-size: 28px; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8,
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-4,
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-sm-8 {
        padding: 0; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .members {
        padding-left: 0; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .activity-block,
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .members {
        margin-top: 15px; }
      body .dashboard .main-content #doughnut-charts .col-md-4 {
        padding: 0;
        margin-bottom: 15px; }
        body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(1), body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(2), body .dashboard .main-content #doughnut-charts .col-md-4:nth-child(3) {
          padding: 0; }
        body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block {
          margin-bottom: 25px; }
          body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 h3 {
            font-size: 46px; }
          body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 small {
            font-size: 24px; }
          body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block a {
            font-size: 24px; }
      body .dashboard .main-content #bar-charts .col-md-6 {
        padding: 0; }
        body .dashboard .main-content #bar-charts .col-md-6 .chart-block {
          margin-bottom: 25px; }
          body .dashboard .main-content #bar-charts .col-md-6 .chart-block.work-statistic ul {
            margin-top: 40px;
            margin-left: 35px; }
            body .dashboard .main-content #bar-charts .col-md-6 .chart-block.work-statistic ul li {
              font-size: 18px; }
      body .dashboard .main-content #bar-charts h4 {
        font-size: 26px; } }
@media all and (min-width: 810px) and (max-width: 1050px) {
  body .row {
    margin: 0; }
  body .dashboard {
    width: 100%;
    margin: 10px auto; }
    body .dashboard .navbar .container-fluid {
      padding: 0; }
    body .dashboard .navbar .navbar-collapse {
      float: right;
      padding-right: 0; }
    body .dashboard .navbar .navbar-right {
      width: 100%;
      margin-right: 0; }
      body .dashboard .navbar .navbar-right li:last-child {
        float: right; }
      body .dashboard .navbar .navbar-right li:first-child a {
        padding-left: 0; }
    body .dashboard .main-content {
      padding: 25px 25px; }
      body .dashboard .main-content #periority-activity .activity-block {
        padding: 0; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 {
        padding: 0; }
        body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .col-md-8 {
          padding: 0; }
          body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .col-md-8 .alert {
            margin: 0 4px 9px 0;
            min-width: 86px;
            font-size: 11px; }
        body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members {
          padding: 0 0 0 15px; }
          body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a {
            width: 30px;
            height: 30px;
            line-height: 30px; }
            body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a .ti-plus {
              font-size: 18px;
              line-height: 30px; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 small {
        font-size: 12px; }
      body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12:last-child p {
        line-height: 23px; }
      body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 h3 {
        font-size: 26px; }
      body .dashboard .main-content #doughnut-charts .col-md-4 .chart-block .col-xs-7 small {
        font-size: 12px; }
      body .dashboard .main-content #bar-charts .chart-block {
        min-height: 375px; }
      body .dashboard .main-content #statistic-chart {
        height: 280px !important; } }
@media all and (min-width: 1100px) and (max-width: 1500px) {
  body .dashboard .main-content #bar-charts .chart-block {
    min-height: 390px; }
  body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .col-md-8 .alert {
    min-width: 85px; }
  body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a {
    width: 35px;
    height: 35px;
    line-height: 35px; }
    body .dashboard .main-content #periority-activity .col-md-9 .col-xs-12 .col-md-8 .members a .ti-plus {
      line-height: 35px; } }

/*# sourceMappingURL=style.css.map */
