@import url('https://fonts.googleapis.com/css?family=Roboto');



/* import mixins */
@import 'mixins.scss';

/* import color */
@import 'colors.scss';


/* style default placeholder styles */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $text-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $text-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $text-gray;
}

.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	color: $dark-gray;
}
							
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: $main-bg;
	
	.dashboard{
		width: 95%;
		margin: 50px auto;
		.navbar{
			height: 70px;
			background-color: #fff;
			border: 0;
			margin-bottom: 0;
			@include border-radius(0px);
			@include box-shadow(0, 0px, 24px, rgba(222, 222, 222, 0.68));
			.navbar-collapse{
				float: left;
			}
			.navbar-brand{
				margin-left: 0;
			}
			.navbar-nav{
				li{
					a{
						height: 70px;
						line-height: 70px;
						color: $text-gray;
						padding: 0px 25px;
						@include transition(all, 0.3s, ease-in-out);

						&:hover{
							background-color: $active-bg;
						}
						.avatar-icon{
							display: inline-block;
							height: 100%;

							img{
								height: 100%;
								padding: 15px;
    							@include border-radius(30%);
							}
						}
						.ti-bell{
							font-size: 18px;
							position: relative;
							line-height: 70px;
							&:after{
								content: "";
								position: absolute;
								width: 7px;
							    height: 7px;
							    top: 3px;
								right: 0;
								background-color: red;
								@include border-radius(50%);	
							}
							&:before{
								
							}
							
						}
						span{
							margin-right: 3px;
						}
					}
					&.active{
					background-color: $active-bg;
						a{
							color: $dark-gray;
						}
					}
				}
			}
			.navbar-right{
				.navbar-form{
					position: relative;
					margin: 0;
					line-height: 70px;
					.form-control{
						border: 0;
						height: 35px;
						padding: 0 0 0 20px;
						@include border-radius(0);
						@include box-shadow(0, 0px, 0px, rgba(88, 85, 85, 0));
					}
					.btn{
						position: absolute;
					    top: 0;
					    left: 0;
					    bottom: 0;
					    margin-bottom: auto;
					    margin-top: auto;
					    background-color: #fff;
					    border: 0;
					    box-shadow: none;
					    height: 35px;
					    padding: 0;
   						width: 30px;
   						@include border-radius(0);
					}
					.ti-search{
						color: $text-gray;
						margin-top: 6px;
    					display: inline-block;
					}
				}
				li{
					a{

						&:hover,
						&:active,
						&:focus{
							background-color: transparent;
						}
					}
					&:nth-child(2){
						a{
							padding-left: 0;
						}
					}
				}
				.dropdown-menu{
					border: 0;
					background-color: $main-bg;
					margin-right: 15px;
					li{
						a{
						    height: 40px;
    						line-height: 40px;			
						}
					}
					&:before{
						content: "";
						right: 6px;
					    top: -9px;
					    position: absolute;
					    width: 0;
					    height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid $main-bg;
					}
				}
			}
		}
		.main-content{
			background-color: $background-light-blue;
			padding: 25px 50px;
			float: left;
			width: 100%;
			@include box-shadow(-3px, 13px, 16px, rgba(232, 232, 232, 0.98));
			h2{
				color: $dark-gray;
				float: left;
				font-weight: normal;
			}
			.settings{
				float: left;
	    		width: 100%;
				.pull-right{
					margin-top: 20px;
					a{

						&:hover{
							text-decoration: none;
							
						}
						&:last-child{
							color: $text-gray;
							float: right;
							padding-top: 5px;
							.ti-settings{
								font-size: 22px;
							    margin-right: 5px;
							    display: inline-block;

							    .caret{
							    	margin: -5px 0 0 7px;
							    }
							}
						}
					}
					.activity{
						border: 2px solid $blue;
					    border-radius: 25px;
					    padding: 5px 20px;
					    font-weight: normal;
					    font-size: 14px;
					    box-shadow: none;
					    color: $blue;
					    margin-right: 20px;

						transition: all 0.3s ease-in;
						-webkit-transition: all 0.3s ease-in;
						-moz-transition: all 0.3s ease-in;
						-ms-transition: all 0.3s ease-in;
						-o-transition: all 0.3s ease-in;

						&:hover{
							background-color: $blue;
							color: #fff;
						}
					}
				}
				&>span{
					display: inline-block;
					position: relative;
					width: 100%;
					color: $text-gray;
					margin: 15px 0 35px;
					&:after{
						content: "";
					    position: relative;
					    top: 0;
					    right: -15px;
					    border-top: 2px solid $border-gray;
					    width: 88%;
					    height: 3px;
					    display: inline-block;
					}
				}
			}
			#periority-activity{
				background-color: #fff;
				float: left;
				width: 100%;
				@include box-shadow(3px, 3px, 15px, rgba(232, 232, 232, 0.99));

				.col-md-3{
					border-right: 2px solid $border-gray;
					padding: 25px 15px;
					.ti-more-alt{
						color: $blue;
					}
					.col-xs-12{

						h5{
							color: $dark-gray;
							font-weight: bold;
						}
						small{
							display: block;
							color: $text-gray;
						}
						&.social-icons{
							.icons{
								color: #fff;
							    background-color: $light-gray;
							    padding: 6px;
							    @include border-radius(50%);
							    text-align: center;
							    margin: 0 2px 0 2px;
							}
							a{
								text-decoration: none;
							}
						}
						&:first-of-type{
							margin-top: 35px;
						}
						&:last-child{
							margin-top: 75px;
						}
					}
			
				}
				.col-md-9{
					padding: 0;
				.col-xs-12{
				 	padding: 20px 25px;
				    min-height: 180px;

				    @extend .no-padding-left;
				    @extend .no-padding-right;
					strong,
					small{
						display: block;
						font-size: 14px;
					}
					strong{
						color: $dark-gray;
						margin-bottom: 10px;
					}
					h4{
						color: $dark-gray;
						font-weight: bold;
						margin: 0 0 20px 0;
					}
					small{
						color: $text-gray;
					}
					.col-md-8{
						.members{
							a{
								width: 42px;
								text-align: center;
								background-color: $border-gray;
								display: inline-block;
								height: 42px;
								line-height: 42px;
								margin-right: 5px;
								float: left;
								@include border-radius(15%);

								img{
									height: 100%;
								    @include border-radius(15%);
								    
								}
							    .ti-plus{
								    font-size: 20px;
								    color: $text-gray;
	    							line-height: 42px;	    
							    }
							    &:hover{
							    	text-decoration: none;
							    }
							}
						}
						.col-md-8{
							.alert{
								float: left;
							    padding: 0px 0 0px 10px;
							    margin: 0 12px 12px 0;
							    min-width: 90px;
							    height: 25px;
							    line-height: 24px;
							    font-size: 12px;
							    .close{
							    	top: 0px;
	    							right: 5px;
							    }
							}
						}
					}
					.col-md-4{
						@extend .no-padding-left;

						.col-sm-6{
							@extend .no-padding-left;
						}
					}
					&:last-child{
						border-top: 2px solid $border-gray;
						position: relative;
						p{
							line-height: 30px;
							color: $text-gray;
							width: 90%;
							span{
								color: $blue;
							}
						}
						a{
							position: absolute;
							right: 0;
							bottom: 0;
							width: 50px;
							height: 60px;
							line-height: 60px;
							background-color: $blue;
							color: #fff;
							text-align: center;
							font-size: 18px;

							&:hover{
								text-decoration: none;
							}
						}
					}
				}
				   
				}
			}
			#doughnut-charts{
				margin-top: 30px;
				float: left;
				width: 100%;
				.col-md-4{
					.chart-block{
						background-color: #fff;
						float: left;
	    				width: 100%;
	    				padding: 20px 15px;
	    				position: relative;
	    				@include box-shadow(3px, 3px, 15px, rgba(232, 232, 232, 0.99));
	    				.col-xs-7{
	    					h3{
	    						margin: 0;
							    font-size: 32px;
							    font-weight: normal;
	    					}
	    					small{
	    					    font-size: 14px;
	    					    color: $text-gray;
	    					}
	    				}
	    				a{
	    					position: absolute;
						    bottom: 20px;
						    right: 30px;
						    text-decoration: underline;
						    color: $blue;
	    				}
					}
					&:nth-child(1){
						@extend .no-padding-left;
						padding-right: 20px;
					}
					&:nth-child(2){
					    padding: 0 12px;
					}
					&:nth-child(3){
						@extend .no-padding-right;
						padding-left: 20px;
					}		
				}	
			}
			#bar-charts{
				margin-top: 30px;
				float: left;
				width: 100%;
				h4{
					margin: 0 0 25px 0;
				}
				.col-md-6:first-child{
					@extend .no-padding-left;
				}
				.col-md-6:last-child{
					@extend .no-padding-right;
				}
				.chart-block{
					background-color: #fff;
					padding: 20px 15px;
					float: left;
					width: 100%;
					min-height: 350px;
					@include box-shadow(3px, 3px, 15px, rgba(232, 232, 232, 0.99));

					.ti-more-alt{
						color: $blue;
					}
					.col-xs-4{
						p{
							margin-bottom: 20px;
							span{
								display: inline-block;
								color: $text-gray;
								&:first-child{
								font-weight: bold;
								}
								&:last-child{
									float: right;
								}
							}
						}
					}
					strong{
						display: block;
    					margin: 20px 0 30px 0;
    					text-align: center;
    					color: $dark-gray;
					}
					.progress-bars{
						.progress{
						    height: 7px;
    						margin-bottom: 35px;
    						@include box-shadow(0, 0px, 0px, rgba(0, 0, 0, 0));
    						background: $border-gray;
    						.progress-bar{
    							@include border-radius(7px);
    							@include box-shadow(0, 0px, 0px, rgba(0, 0, 0, 0));
    						}
    						&:nth-of-type(1){
	    						.progress-bar{
		    						background: rgba(255,255,255,1);
									background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(130,131,222,1) 52%, rgba(130,131,222,1) 100%);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(52%, rgba(130,131,222,1)), color-stop(100%, rgba(130,131,222,1)));
									background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(130,131,222,1) 52%, rgba(130,131,222,1) 100%);
									background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(130,131,222,1) 52%, rgba(130,131,222,1) 100%);
									background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(130,131,222,1) 52%, rgba(130,131,222,1) 100%);
	    						}
    						}
    						&:nth-of-type(2){
	    						.progress-bar{
									background: rgba(255,255,255,1);
									background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(238,123,121,1) 52%, rgba(238,123,121,1) 100%);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(52%, rgba(238,123,121,1)), color-stop(100%, rgba(238,123,121,1)));
									background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(238,123,121,1) 52%, rgba(238,123,121,1) 100%);
									background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(238,123,121,1) 52%, rgba(238,123,121,1) 100%);
									background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(238,123,121,1) 52%, rgba(238,123,121,1) 100%);
	    						}
	    					}
	    					&:nth-of-type(3){
	    						.progress-bar{
									background: rgba(255,255,255,1);
									background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,180,68,1) 52%, rgba(250,179,68,1) 100%);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(52%, rgba(250,180,68,1)), color-stop(100%, rgba(250,179,68,1)));
									background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,180,68,1) 52%, rgba(250,179,68,1) 100%);
									background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,180,68,1) 52%, rgba(250,179,68,1) 100%);
									background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(250,180,68,1) 52%, rgba(250,179,68,1) 100%);
	    						}
	    					}
	    					&:nth-of-type(4){
	    						.progress-bar{
									background: rgba(255,255,255,1);
									background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(107,149,248,1) 52%, rgba(107,149,248,1) 100%);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(52%, rgba(107,149,248,1)), color-stop(100%, rgba(107,149,248,1)));
									background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(107,149,248,1) 52%, rgba(107,149,248,1) 100%);
									background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(107,149,248,1) 52%, rgba(107,149,248,1) 100%);
									background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(107,149,248,1) 52%, rgba(107,149,248,1) 100%);
	    						}
	    					}
	    					&:nth-of-type(5){
	    						.progress-bar{
									background: rgba(255,255,255,1);
									background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(48,218,161,1) 52%, rgba(48,218,161,1) 100%);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(52%, rgba(48,218,161,1)), color-stop(100%, rgba(48,218,161,1)));
									background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(48,218,161,1) 52%, rgba(48,218,161,1) 100%);
									background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(48,218,161,1) 52%, rgba(48,218,161,1) 100%);
									background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(48,218,161,1) 52%, rgba(48,218,161,1) 100%);
	    						}
	    					}
						}
					}
					&.work-statistic{
						ul{
						    padding: 0;
						    margin-top: 85px;
						    margin-left: 15px;
							li{
								color: $text-gray;
								strong{
									display: inline-block;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}	
}

/* Responsive */

@media all and (max-width: 640px){
	body{
		.container-fluid{
			padding: 0;
		}
		.row{
			margin: 0;
		}
		.dashboard{
		    width: 100%;
			margin: 0 auto;

			& .col-xs-12{
				padding: 0;
			}
			.navbar-toggle{
			    margin-top: 15px;
			}
			.navbar{
				.navbar-header{
					margin: 0;
				}
				.navbar-nav {
				    margin: 7.5px 0;
				}
				.navbar-collapse{
					background-color: #fff;
				    width: 100%;
				    margin: 0;
				}
				.navbar-right{
					li{
						float: left;
						a{
							padding-left: 5px;
						}
						&:nth-child(2){
							float: right;
						}
					}
				}
			}
			.main-content{
				padding: 10px 15px;

				h2{
					margin-top: 55px;
					width: 100%;
				}
				.settings{
					position: relative;
					.pull-right{
						margin-top: 0;
					    position: absolute;
					    top: 5px;
					    right: 0;
					    width: 100%;

					    .activity{
					    	padding: 3px 20px;
					    	border: 1px solid #5f94fb;
					    }
					    a{
					    	&:last-child{
					    		padding-top: 0;
					    	}
					    }
					}
					&> span{
						margin: 5px 0 20px;

						&:after{
						    right: 0;
						    width: 100%;
						}
					}
				}
				#periority-activity{
					.col-md-3{
						padding: 0;

						.ti-more-alt{
							margin: 15px 15px 0 0;
						}
						.col-xs-12{
							h5{
								font-size: 22px;
							}
							
							small{
							    font-size: 18px;
							}
							&:first-of-type{
								margin-top: 0;
							}
							&:last-child{
								margin: 40px 0 10px 0;
							}
						}
					}
					.col-md-9{
						h4{
							text-align: center;
							font-size: 22px;
							border-top: 1px solid $border-gray;
							padding-top: 15px;
						}
						.col-md-4,
						.col-md-8,
						.col-sm-12,
						.col-sm-8{
							padding: 0;
						
						}
						.col-md-4{
							float: left;
							width: 100%;
							margin-bottom: 15px;
						}
						.members{
						    float: left;
    						padding: 0;
    						width: 100%;
    						margin-top: 15px;
						}
						.col-xs-12{
							padding: 20px 15px;

							.col-md-8{
								.col-md-8{
									.alert{
										min-width: 45%;
									}
								}
							}
						}
					}
				}
				#doughnut-charts{
					.col-md-4{

						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3){
							padding: 0;
						}

						.chart-block{
							padding: 20px 0;
							margin-bottom: 15px;
							.col-xs-7{
								h3{
									font-size: 26px;
									margin-bottom: 7px;
								}
							}
							a{
								right: 15px;
							}
						}
					}

				}
				#bar-charts{
					.col-md-6{
						padding: 0;

						.chart-block{
							margin-bottom: 25px;
							.col-xs-4{
								padding: 0;
							}
							.progress-bars{
								padding-right: 0;
							}
							&.work-statistic{
								ul{
									margin-top: 25px;
    								margin-left: 30px;
								}
							}
						}
					}
					h4{
						margin-bottom: 15px;
					    font-size: 22px;
					    text-align: center;
					}
				}
			}
		}
	}
}

@media all and (min-width: 650px) and (max-width: 800px){
	body{
		.row{
			margin: 0;
		}
		.dashboard{
			width: 100%;
    		margin: 5px auto;
    		.row{
	    		& > .col-xs-12{
	    			padding: 0;
	    		}
    		}
    		
    		.navbar{
    			.navbar-collapse{
    				float: right;
    				.navbar-nav{
    					li{
    						&.active{
    							a{
    								padding: 0px 15px;
    							}
    						}
    					}
    				}
    			}
    			.navbar-right{
    				width: 100%;
    				margin-right: 0;

    				li{
    					&:first-child{
    						a{
    							padding-left: 0;
    						}
    					}
    					&:last-child{
    						float: right;
    					}
    				}
    			}
    		}
    		
			.main-content{
				padding: 25px 30px;
				.settings{
					& > span{
						&:after{
							width: 100%;
							right: 0;
						}
					}
				}
				#periority-activity {
				 	.col-md-3 {
				 		padding: 0;
				 		.col-xs-12{
				 			&:first-of-type{
				 				img{
				 					height: 200px;
				 				}
				 			}
				 			&:last-child{
				 				margin-top: 20px;
				 			}
				 			h5{
				 				font-size: 24px;
				 			}
				 			small{
				 				font-size: 20px;
				 			}
				 		}
				 		.ti-more-alt{
				 		    margin: 15px 15px 0 0;
    						font-size: 20px;
				 		}
				 	}
				 	.col-md-9{
				 		h4{
				 			font-size: 28px;
				 		}
				 		.col-xs-12{
				 			.col-md-8,
				 			.col-md-4,
				 			.col-sm-8{
				 				padding: 0;
				 			}
				 			.members{
				 				padding-left: 0;
				 			}
				 			.activity-block,
				 			.members{
				 				margin-top: 15px;
				 			}
				 		}
				 	}
				 }
				 #doughnut-charts{
				 	.col-md-4{
				 		padding: 0;
				 		margin-bottom: 15px;

				 		&:nth-child(1),
				 		&:nth-child(2),
				 		&:nth-child(3){
				 			padding: 0;
				 		}
				 		.chart-block{
				 			margin-bottom: 25px;
				 			.col-xs-7{
				 				h3{
				 				    font-size: 46px;
				 				}
				 				small{
				 					font-size: 24px;
				 				}
				 			}
				 			a{
				 				font-size: 24px;
				 			}
				 		}
				 	}
				 }
				 #bar-charts{
				 	.col-md-6{
				 		padding: 0;
				 		.chart-block{
				 			margin-bottom: 25px;
				 			&.work-statistic {
				 				ul{
				 					margin-top: 40px;
    								margin-left: 35px;
    								li{
    									font-size: 18px;
    								}
				 				}
				 			}
				 		}
				 	}
				 	h4{
				 		font-size: 26px;
				 	}
				 }
			}
		}
	}
}
@media all and (min-width:  810px) and (max-width: 1050px){
	body{
		.row{
			margin: 0;
		}
		.dashboard{
		    width: 100%;
    		margin: 10px auto;
    		.navbar{
    			.container-fluid{
    				padding: 0;
    			}
    			.navbar-collapse{
    				float: right;
    				padding-right: 0;
    			}
    			.navbar-right{
    				width: 100%;
    				margin-right: 0;
    				li{
    					&:last-child{
    						float: right;
    					}
    					&:first-child{
    						a{
    							padding-left: 0;
    						}
    					}
    				}
    			}
    		}
			.main-content{
			    	padding: 25px 25px;
					#periority-activity{
						.activity-block{
							padding: 0;
						}
						.col-md-9{
							.col-xs-12{
								.col-md-8{
									padding: 0;
									.col-md-8{
									    padding: 0;
										.alert{
											margin: 0 4px 9px 0;
			    							min-width: 86px;
			    							font-size: 11px;
										}
									}
									.members{
										padding: 0 0 0 15px;
										a{
											width: 30px;
											height: 30px;
											line-height: 30px;

											.ti-plus{
												font-size: 18px;
											    line-height: 30px;
											}
										}
									}
								}
								small{
									font-size: 12px;
								}
								&:last-child{
									p{
										line-height: 23px;
									}
								}
							}
						}
					}
					#doughnut-charts{
						.col-md-4{
							.chart-block{
								.col-xs-7{
									h3{
										font-size: 26px;
									}
									small{
										font-size: 12px;
									}
								}
							}
						}
					}
					#bar-charts{
						.chart-block{
							min-height: 375px;
						}
					}
					#statistic-chart{
						height: 280px !important;
					}
			}

		}
	
	}
}
@media all and (min-width:  1100px) and (max-width: 1500px){
	body{
		.dashboard{
			.main-content{
				#bar-charts{
					.chart-block{
						min-height: 390px;
					}
				}
				#periority-activity{
					.col-md-9{
						.col-xs-12{
							.col-md-8{
								.col-md-8{
									.alert{
										min-width: 85px;
									}
								}
								.members{
									a{
										width: 35px;
										height: 35px;
										line-height: 35px;

										.ti-plus{
											line-height: 35px;
										}
									}
								}
							}

						}
					}
				}

			}
		}
	}
}